html {
    box-sizing: boreder box
}

*,
::before,
::after {
    box-sizing: inherit;
}

p {
    color: red
}

h3 {
    text-decoration: dotted;
}

img {
    width: 40%;
    height: auto;
}

body {
    background-color: aqua;
    padding: 10px;
}

h2 {
    color: rgb(11, 0, 216)
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: center;
}

strong {
    text-align: center;
}

ul {
    text-align: center;
}

h2 {
    text transform: uppercase;
    -webkit-text-stroke: 2px #b503fc
}

fieldset
{ 
border: solid 5px #080808;
background-color:rgb(244, 244, 238) !important;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    }
        
   ul li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color: rgb(18, 18, 18);
    background-color: rgb(176, 176, 180);
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid rgb(233, 233, 240);
    border-radius: 3px;
    box-shadow: 0px 2px 3px gray;
    }

    li a:hover {
        color: rgb(248, 248, 252);
        background: rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);
        }
        
    section {
        text-align: center;
    }
    
    nav {
        text-align: center;
    }

li{
    justify-content: center;
    list-style: none;
}

 #nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; 
    margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.

}
#nav li {
   display: inline-block;
   text-align:center; 
}

<hr style="height: 10px; background: gray; border: 0px;">
